* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: grid;
  grid-template: repeat(2, min-content)/repeat(3/1fr);
  gap: 2%;
  padding: 2%;
  background-color: palevioletred;
}

#top-content {
  grid-area: 1/2/2/4;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

#top-comp-1, #top-comp-2, #top-comp-3 {
  border: 1px solid black;
  width: 100%;
}

#top-comp-1 {
  background-color: rgb(218, 188, 245);
}

#top-comp-2 {
  background-color: rgb(183, 108, 249);
}

#top-comp-3 {
  background-color: rgb(148, 47, 237);
}

#side-bar {
  grid-area: 1/1/3/2;
  align-content: center;
  border: 1px solid black;
  background-color: rgb(237, 156, 156);
}

#img-container {
  grid-area: 2/2/3/4;
  border: 1px solid black;
  background-color: rgb(228, 201, 152);
}

img {
  max-width: 500px;
  border: 1px solid black;
  background-color: palegreen;
}

.App, #side-bar {
  height: 100vh;
}