body {
    font-family: Arial, Helvetica, sans-serif
}

.complaints {
    list-style-type: none;
}

#donut-rat-pic {
    max-width: 500px;
    margin: auto;
    display: block;
}

#page-heading{
    text-align: center;
}

#brooklyn:focus{
    background-color: rgb(255, 105, 105);
}
#bronx:focus{
    background-color: rgb(109, 109, 255);
}
#manhattan:focus{
    background-color: rgb(67, 135, 67);
}
#queens:focus{
    background-color: rgb(255, 255, 115);
}
#staten:focus{
    background-color: rgb(255, 195, 85);
}

